<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <script>
        //<![CDATA[
            function carregarDados() {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("display").innerHTML = this.responseText;
                    }
                };
                xhttp.open("GET", "http://localhost:8080/demo/clientes/", true);
                xhttp.send();
            }
		//]]>
        </script>
    </head>
    <body>
        <div id = "display">
        	
        </div>
        
        
    </body>
   <script>
   carregarDados();
   </script>
</html>
