<div>

OI :D {{cliente.nome}} <br/>

<form novalidate>

<div>
	<input type = "text" ng-model="cliente.nome" required />
	<span ng-show =false>Campo nome obrigatório</span>
</div>
<input type = "text" ng-model="cliente.nome" required />
<input type = "text" ng-model="cliente.nome" required />

</form>

<div ng-repeat = "cli in clientes" >
	{{cli.id + " | " + cli.nome}}
	<input type = "button" value = "Excluir" ng-click="excluirCliente(cli)" />
	<input type = "button" value = "Alterar" ng-click="excluirCliente(cli)" />
	<a href = "cliente/{{cli.id}}"> Detalhe</a>


</div>

</div>